*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/drawable-hdpi/ic_action_ukdlogo2.png
/app/src/main/res/drawable-mdpi/ic_action_ukdlogo2.png
/app/src/main/res/drawable-xhdpi/ic_action_ukdlogo2.png
/app/src/main/res/drawable-xxhdpi/ic_action_ukdlogo2.png
/app/src/main/res/drawable-xxxhdpi/ic_action_ukdlogo2.png
